/* main.css */

.background {
    display: flex;
    justify-content: flex-start; 
    align-items: center;
    flex-direction: column;
    background-color: rgb(15, 15, 100);
    height: 100vh;
    width: 100vw;
    padding-top: 2rem; 
    gap: 2rem;
}

.main-header {
    color: white;
    text-align: center;
    width: 100%; 
}

.dashboard-grid {
    width: 90vw;
    height: 85vh; 
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 20px;
}

.map-card {
    flex: 3;
    background: white;
    border-radius: 8px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.map-container {
    width: 100%;
    flex-grow: 1; 
    position: relative;
    min-height: 0; 
}

.data-card {
    flex: 1;
    background: white;
    border-radius: 8px;
    padding: 20px;
}